exp_name=WorldModels
env_name=multiwalker_v9
max_frames=1000 # max number of steps that each multiwalker will take in env
min_frames=100
max_trials=160
render_mode=False
full_episode=True
exp_mode=4 # same as ZH
a_width=4   
z_size=32
state_space=2 # 1: include hidden state, 2: include hidden state and c
vae_batch_size=100
vae_learning_rate=0.0001
vae_kl_tolerance=0.5
vae_num_epoch=10

rnn_num_steps=40000
rnn_max_seq_len=1000 # train on sequences of 1000
rnn_input_seq_width=35 # z (31) + a (4)
rnn_out_size=465 # 3 x num_mixture (5) x z_size
rnn_size=256 # size of hidden/cell state
rnn_batch_size=100
rnn_grad_clip=1.0
rnn_num_mixture=5 # number of mixtures in MDN
rnn_learning_rate=0.001
rnn_decay_rate=0.99999
rnn_min_learning_rate=0.00001